# Dependencies
node_modules
.pnpm-debug.log*

# Next.js
/.next/
/out/
.next

# Environment
.env
.env.local
.env.*.local

# Testing
coverage
*.log

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist
build
